.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5555;
}

.icon {
    height: 75px;
    width: 75px;
    background-color: #FF5555;
    background-image: url(../img/icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home {
    background-color: #FF937E;
}

.my-profile {
    background-color: #A3D78A;
}

.portofolio {
    background-color: #FF937E;  
}

.message-us {
    background-color: #A3D78A;
}

.footer {
    background-color: #FF5555;
}