.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5555;
}

.logo {
    height: 75px;
    width: 75px;
    background-color: #FF5555;
    background-image: url(./img/logo.png);
    background-size: cover;
}

.home {
    background-color: #FF937E;
}

.my-profile {
    background-color: #A3D78A;
}

.portofolio {
    background-color: #FF937E;  
}

.message-us {
    background-color: #A3D78A;
}

.footer {
    background-color: #FF5555;
}